.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.navInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding-bottom: 10px;
}
.step {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 3px solid rgb(228, 228, 228);
  background-color: white;
}
.step.active {
  background-color: black;
  border-color: black;
}
.line {
  flex: 1;
  height: 2px;
  background-color: rgb(228, 228, 228);
}
.navTitle {
  width: 352px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  padding-top: 0;
  gap: 10px;
}
.nameBirth {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(225, 225, 225);
  border-radius: 8px;
  padding: 13px;
  gap: 6px;
}
.nameBirth input {
  width: 33%;
  border: none;
  font-size: 14px;
  color: rgb(115, 115, 115);
}
.nameBirth input:focus {
  outline: none;
}
.nameBirth:has(input:focus) {
  border-color: rgb(85, 85, 85);
}
.nameBirth p {
  padding-bottom: 3px;
  color: rgb(115, 115, 115);
  font-weight: 500;
}
.input {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 2px solid rgb(225, 225, 225);
  border-radius: 8px;
  padding: 3px;
}
.input input {
  border: none;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.input input::placeholder {
  font-weight: 500;
  color: rgb(115, 115, 115);
}
.input input:focus {
  outline: none;
}
.input:has(input:focus) {
  border-color: rgb(85, 85, 85);
}
select {
  width: 100%;
  height: 38px;
  border: none;
  font-weight: 500;
  color: rgb(115, 115, 115);
  font-size: 16px;
  padding: 10px;
}
.joinButton {
  width: 100%;
  border-radius: 9px;
  background-color: rgb(222, 29, 36);
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.notice {
  font-size: 13px;
  color: rgb(136, 136, 136);
  margin-bottom: 4%;
}
