.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgb(235, 235, 239);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 96px;
}
.cartItemWrapper {
  display: flex;
  align-items: start;
  gap: 3px;
  width: 90%;
}
.cartItemWrapper img {
  width: 20px;
}
.cartItemWrapper button {
  padding-top: 2.5%;
}
.cartItem {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  padding: 2%;
}
.cartItem div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.menuName {
  font-weight: 500;
}
.menuOption p:first-child {
  color: rgb(27, 27, 27);
}
.menuOption p:nth-child(2) {
  color: rgb(126, 126, 126);
}
.menuPlus {
  display: flex;
  flex-direction: column;
}
.menuPlus div:first-child {
  color: rgb(27, 27, 27);
}
.menuPlus div {
  color: rgb(126, 126, 126);
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 10px;
}
.info div p:first-child {
  font-size: 17px;
  font-weight: 500;
}
.info div p:nth-child(2) {
  font-size: 15px;
}
.gap {
  width: 100%;
  height: 10px;
  background-color: rgb(235, 235, 239);
}
.pay {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-bottom: 2%;
  gap: 10px;
  font-size: 17px;
  font-weight: 500;
}
.pay div {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  font-weight: 400;
}
.pay div img {
  width: 20px;
  height: 20px;
}
.card {
  width: 250px;
  height: 140px;
  border-radius: 15px;
  background-color: rgb(255, 255, 80);
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.cardIC {
  width: 40px;
  height: 30px;
  background-color: rgb(238, 244, 247);
  border-radius: 10px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background: #ffffff;
  z-index: 100;
  border-top: 1px solid rgb(230, 230, 230);
}

.footer div:first-child {
  background-color: rgb(255, 240, 240);
  min-height: 20px;
  padding: 3%;
}

.footer div:nth-child(2) {
  height: 30px;
}
.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 95%;
  padding: 2%;
  color: white;
  border-radius: 25px;
  background-color: rgb(222, 29, 36);
  font-size: 16px;
  font-weight: 500;
}
.button p {
  margin-bottom: 3px;
}
.button img {
  width: 24px;
  margin-bottom: 1px;
}
.totalPrice {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  gap: 5px;
  font-weight: 500;
}
.totalPrice div {
  display: flex;
  justify-content: space-between;
}
.blackLine {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 5px;
}
